.font-size-14 {
  font-size: 14px;
}

.openai-dropdown {
  position: absolute;
  top: 11%;
  left: 18%;
  width: 500px;
  h5 {
    font-size: 16px;
    font-weight: 600 !important;
  }
  .generate {
    .btn {
      font-size: 12px;
    }
  }
}

.dropdown-toggle::after {
  display: none;
}

@media only screen and (max-width: 768px) {
  .openai-dropdown {
    top: 11%;
    width: 350px;
    left: 10%;
  }
}

@media only screen and (max-width: 425px) {
  .openai-dropdown {
    width: 250px;
    top: 7%;
    left: 31%;
  }
}
